
  
#div1 {
    background-color: var(--main-bg-color);
  }
  
.wtf {
    background: linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    box-shadow: 10px 10px grey;
}

.div2 {
  width: 200px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1000px;
  background-color: red;
  flex-direction: column;
  width: 500px;
}

@media screen and (min-width : 500px) {
  .container {
    background-color: purple;
  }
}